/*FOOTER*/
footer .redes-sociales{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
footer .redes-sociales a{
    display: block;
    width: 60px;
    height: 60px;
    background: #000;
    color: #fff;
    margin: 20px;
    text-align: center;
    border-radius: 100px;
    transition: .3s ease all;
}
footer .redes-sociales .github{background: var(--title-color);}
footer .redes-sociales .linkedin{background: var(--first-color);}
footer .redes-sociales .instagram{background: 	var(--first-color-alt);}

footer .redes-sociales a i{
    font-size: 30px;
    line-height: 60px;
}
footer .contenedor-icono:hover a {
    animation: icono .5s ease;
}
@keyframes icono {
    from{
        transform: rotate3d(0,0,0,0);
    }
    to{
        transform: rotate3d(0,1,0,360deg);
    }
}
footer .creado-por{
    margin-bottom: 40px;
    text-align: center;
    font-size: var(--normal-font-size);
    color: var(--first-color);
    font-weight: var(--font-medium);
}
footer .creado-por a{color: var(--first-color-second);}
footer .creado-por a:hover{color: var(--title-color);}
