/*GRID*/
.grid{
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
}
.grid.imagenes-cargadas{
    opacity: 1;
}
.grid .item{
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: calc(33.333333% - 20px);
}
.grid .item-contenido{
    position: relative;;
}
.grid .item img{
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    vertical-align: top;
}
.grid .item img:hover{
    box-shadow: 1px 0px 15px var(--first-color-lighter);
}